<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.system.model.mapper.DeviceMapper">
    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                id,
            </if>

            <if test="userAgent != null and userAgent != ''">
                userAgent,
            </if>

            <if test="system != null and system != ''">
                `system`,
            </if>

            <if test="device != null and device != ''">
                `device`,
            </if>

            <if test="Browser != null and Browser != ''">
                Browser,
            </if>

            <if test="type != null and type != ''">
                `type`,
            </if>

            <if test="cip != null and cip != ''">
                cip,
            </if>

            <if test="cid != null and cid != ''">
                cid,
            </if>

            <if test="cname != null and cname != ''">
                cname,
            </if>
            `time`,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                #{id},
            </if>

            <if test="userAgent != null and userAgent != ''">
                #{userAgent},
            </if>

            <if test="system != null and system != ''">
                #{system},
            </if>

            <if test="device != null and device != ''">
                #{device},
            </if>

            <if test="Browser != null and Browser != ''">
                #{Browser},
            </if>

            <if test="type != null and type != ''">
                #{type},
            </if>

            <if test="cip != null and cip != ''">
                #{cip},
            </if>

            <if test="cid != null and cid != ''">
                #{cid},
            </if>

            <if test="cname != null and cname != ''">
                #{cname},
            </if>
            now(),
        </trim>
    </sql>

    <insert id="insertDeviceEntity" parameterType="com.zj.system.entity.DeviceEntity">
        insert into device(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <resultMap id="selectDeviceEntityListMap" type="com.zj.system.entity.DeviceEntity">
        <id column="id" property="id"/>
        <result column="userAgent" property="userAgent"/>
        <result column="system" property="system"/>
        <result column="device" property="device"/>
        <result column="Browser" property="Browser"/>
        <result column="type" property="type"/>
        <result column="cip" property="cip"/>
        <result column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="selectDeviceList"
            resultMap="selectDeviceEntityListMap">
        select d.id,
        d.userAgent,
        d.system,
        d.device,
        d.Browser,
        d.type,
        d.cip,
        d.cid,
        d.cname,
        d.time
        from device as d
        <where>
            <if test="id != null and id != ''">
                d.id = #{id}
            </if>

            <if test="userAgent != null and userAgent != ''">
                d.userAgent = #{userAgent}
            </if>

            <if test="system != null and system != ''">
                d.system = #{system}
            </if>

            <if test="device != null and device != ''">
                d.device = #{device}
            </if>

            <if test="Browser != null and Browser != ''">
                d.Browser = #{Browser}
            </if>

            <if test="type != null and type != ''">
                d.type = #{type}
            </if>

            <if test="cip != null and cip != ''">
                d.cip = #{cip}
            </if>

            <if test="cid != null and cid != ''">
                d.cid = #{cid}
            </if>

            <if test="cname != null and cname != ''">
                d.cname = #{cname}
            </if>
        </where>
    </select>
</mapper>