<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.system.model.mapper.DeviceMapper">
    <sql id="key">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                id,
            </if>

            <if test="userAgent != null and userAgent != ''">
                userAgent,
            </if>

            <if test="name != null and name != ''">
                `name`,
            </if>

            <if test="type != null and type != ''">
                `type`,
            </if>

            <if test="ip != null and ip != ''">
                ip,
            </if>

            <if test="region != null and region != ''">
                region,
            </if>

            <if test="visits != null and visits != ''">
                visits,
            </if>
            `time`,
        </trim>
    </sql>

    <sql id="value">
        <trim suffixOverrides=",">

            <if test="id != null and id != ''">
                #{id},
            </if>

            <if test="userAgent != null and userAgent != ''">
                #{userAgent},
            </if>

            <if test="name != null and name != ''">
                #{name},
            </if>

            <if test="type != null and type != ''">
                #{type},
            </if>

            <if test="ip != null and ip != ''">
                #{ip},
            </if>

            <if test="region != null and region != ''">
                #{region},
            </if>

            <if test="visits != null and visits != ''">
                #{id},
            </if>
            now(),
        </trim>
    </sql>

    <insert id="DeviceEntity" parameterType="com.zj.system.entity.DeviceEntity">
        insert into device(<include refid="key"/>) values(<include refid="value"/>);
    </insert>

    <resultMap id="selectDeviceEntityListMap" type="com.zj.system.entity.DeviceEntity">
        <id column="id" property="id"/>
        <result column="userAgent" property="userAgent"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="ip" property="ip"/>
        <result column="region" property="region"/>
        <result column="visits" property="visits"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="selectDeviceEntityList"
            resultMap="selectDeviceEntityListMap">
        select d.id,
        d.userAgent,
        d.name,
        d.type,
        d.ip,
        d.region,
        d.visits,
        d.time
        from device as d
        <where>
            <if test="id != null and id != ''">
                c.id = #{id}
            </if>
        </where>
    </select>
</mapper>